@font-face {
        font-family: "My font";
        src: url("../font.ttf");
    }
div.home-body{
    font-size: 360%;
    font-weight: bold;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2em;
    font-family: My font;
    white-space: nowrap;
    overflow: hidden;
    animation: grow 4s steps(44) 1s normal
        both,
        blink 0.5s steps(44) infinite
            normal;
}
@keyframes grow {
    from{
        width: 0px;
    }
    to{
        width: 1500px;
    }
}
@keyframes blink {
    from{
        border-right-color: #eee;
    }
    to{
        border-bottom-color: #222;
    }

}

div.register-content{
    margin-top: 5em;
}
div.personal{
    margin-top: 10em;
}
ul.li-description{
    list-style: none;
}
div.add-expend{
    margin-top: 5em;
}

div.addexpend-required{
    font-weight: bold;
    color: #333;
    display: block;
    padding: 4px 10px 0 0;
    float: left;
    width: 160px;
    word-wrap: break-word;
    line-height: 1;
    margin-left: 2em;
}
div.expend-detail{
    width: 160px;
    font-weight: bold;
    color: #333;
    display: block;
    padding: 4px 10px 0 0;
}
nav.paginator-expend{
    text-align: center;
}
div.layout-center{
    text-align: center;
}
background-color{
    background: #fae3a1;
}
span.member_list{
    margin-right: 1.2em;
}
div.length_search{
    width: 200px;
    text-align: center;
}
li.search-middle{
    position: absolute;
    top:50%;
    left:90%;
    width:100%;
    transform:translate(-50%,-50%);
    text-align: center;
}
div.search-middle{
    position: absolute;
    top:50%;
    left:90%;
    width:100%;
    transform:translate(-50%,-50%);
    text-align: center;
}
body.index-background{
	background-image: url(../img/background.png);
}

